.reset-password-container {
  background: linear-gradient(135deg, #F8F9FA 0%, #FFFFFF 100%);
  padding: 1rem;
}

:host ::ng-deep {
  .p-password {
    width: 100%;

    input {
      width: 100%;
    }

    button {
      cursor: pointer !important;
    }

    .p-icon {
      cursor: pointer !important;
    }
  }
}
